.tree{
  width: 100px;
  height: 100px;
  background-size: cover;
  float: left;
  margin: 10px;
  border: 1px solid black;
}

th, td{
  border: 1px solid black;
  padding: 5px;
}

.cut{
  margin-top:52px;
  height: 30px;
  width: 30px;
  border: none;
  background-size: cover;
  background-image: url(/img/axe.jpg);
}

.growb{
  margin-top:52px;
  height: 30px;
  width: 30px;
  border: none;
  background-size: cover;
  background-image: url(/img/leaf.jpg);
}

.heart{
  margin-top:52px;
  height: 30px;
  width: 30px;
  border: none;
  background-size: cover;
  background-color: white;
  background-image: url(/img/heart.png);
}

.seed{
  background-image: url(/img/acorn.png);
}

.sapling{
  background-image: url(/img/seedling.jpeg);
}

.teenager{
  background-image: url(/img/sappling.jpg);
}

.adult{
  background-image: url(/img/tree.gif);
}

.dead{
  background-image: url(/img/skull.gif);
}

.chop{
  background-image: url(/img/stump.gif);
}

.height{
  color: red;
}
