#items(data-id=user._id.toString())
  each item in user.items
    case item.type
      when 'house'
        include ../items/house
      when 'mansion'
        include ../items/mansion
      when 'castle'
        include ../items/castle
      when 'autoplant'
        include ../items/autoplant
      when 'autoroot'
        include ../items/autoroot
      when 'autogrow'
        include ../items/autogrow
        #slider
          #readout
